# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Vula Local data & voice temp records
/tmp/vula*
*.wav
*.pcm
.config/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
